{% extends "base.html" %}

{% block title %}Home | Game Vault{% endblock %}

{% block content %}
<section class="hero">
    <h1>ARE YOU BORED?</h1>
    <p>Bored of BOARD GAMES? Need DOpaMINE? Check out these games!</p>
    <a href="{{ url_for('games_page') }}" class="cta-btn">View All Games</a>
</section>

<main class="container">
    <h2 class="section-title">Featured Games</h2>
    <div class="game-grid">
        {% for game in games %}
        <div class="game-card">
            <div class="card-img-container">
                <img src="{{ game.image }}" alt="{{ game.title }}">
                <button class="play-btn" onclick="openGameModal('{{game.title}}','{{ game.game_url }}')">
                    ▶ Play Now
                </button>
            </div>
            <div class="card-content">
                <span class="category">{{ game.category }}</span>
                <h3>{{ game.title }}</h3>
                <p>{{ game.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <h2 class="section-title">Featured Origami Models</h2>
    <div class="game-grid">
        {% for project in featured_origami %}
        <a class="game-card clickable-card" href="{{url_for('origami_page')}}">
            <div class="card-img-container">
                <img src="{{ project.image }}" alt="{{ project.title }}">
                <div  class="card-overlay">
                    <span >View Model ➔</span>
                </div>
            </div>
            <div class="card-content">
                <span class="category">Level: {{ project.difficulty }}</span>
                <h3>{{ project.title }}</h3>
                <p>{{ project.description }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
    
</main>
{% endblock %}